<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it) TAGS</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images/Start(IT)SmallLogo.png">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><img src="../images\Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../views/Git.html">GIT</a></li>
                            <li><a href="../views/VSCode.html">VSCode</a></li>
                            <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                            <li class="active"><a href="">HTML tags<span class="sr-only">(current)</span></a></li>
                            <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                           
                        </ul>
                    </li>
                    <li><a href="#">Plain JavaScript</a></li>
                    <li><a href="#">JavaScript + DOM</a></li>
                    <li><a href="#">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="wrap">
        <div id="main">
            <h1 class="text-center">HTML elementi</h1>
            <p class="text-center">
                Šodien mēs iemācījāmies kas ir HTML elementi un kā ar tiem darboties.
            </p>
                    Mēs jau esam paspējuši apskatīt tādus HTML elementus, kā:<br>
                    <ul>
                        <li>Konteiners "< div >"</li>
                        <li>Virsraksts "< h1 >, < h2 >, ..., < h6 >"</li>
                        <li>Rindkopa "< p >"</li>
                        <li>Atribūts "< a >"</li>
                        <li>Rindas atdalītājs "< br >"</li>
                    </ul>
                    Tagad apkskatīsim vēl šos elementus:
                    <ol>
                        <li>Nenumurēts saraksts "< ul >"</li>
                        <li>Saraksta objekts "< li >"</li>
                        <li>Numurēts saraksts "< ol >"</li>
                        <li>Attēls "< img >"</li>
                        <img src="../images/Start(IT)Logo.png" alt="Start(IT)" width="104">
                        <li>Poga "< button >"</li>
                        <button>Uzspied</button>
                        <li><b>Treknraksts</b> "< b >"</li>
                    </ol>
              
            <p>
                Vairāk informācijas par visiem HTML elementiem mēs varam atrast
                <a href="https://www.w3schools.com/html/default.asp">w3schools </a>mājaslapā.
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </p>
        <h1>Start(IT) apmācību plāns 1. dienai</h1>
        <p>Parādīsim tabulā informāciju par to, kāds ir bijis šodienas grafiks.<br>
        Veidosim tabulu, lai iepazītos ar to, kā mēs varam izveidot tabulu.</p>
        <p>Galvenie punkti kas tiek šodien apskatīti:</p>
       
       
            <table width="1200" align="center">
                <tr>
                    
                    <th width="400">Plānotais Laiks</th>
                    <th wdth="400">Reālais Laiks</th>
                    <th wdth="400">Laiks palika pāri vai trūka?</th>
                </tr>
                <tr>
                    <th>Projektu izstrādes metodoloģijas</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>GIT</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>VSCode</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>Plānošanas rīki</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>Pusdienas</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>HTML teorija</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>HTML uzdeuvmi</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>Refleksija</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
                <tr>
                    <th>Lektors no IT jomas</th>
                    <td>27.08.2019<br />9:30am - 10:30am</td>
                    <td>27.08.2019<br />xx:xxam - xx:xxam</td>
                    <td>27.08.2019<br />Trūka/Palika pāri</td>
                </tr>
            </table>
        <form align="center">
            
                <H1>Atsauksmes</H1>
                <p>Jūsu vārds:</p>
                     <input id="name"><br />
                     <p>Jūsu uzvārds:</p>
                     <input type="text" name="email" id="email"></br>
                <p>Patika/Nepatika/Neintrāli</p>
                     <select id="hiw">
                         <option value="ja">Patika</option>
                         <option value="ne">Nepatika</option>
                         <option value="ok">Neintrāli</option>
                     </select></p>
                <p>Pedalījāties visu dienu?</p>
                <input type="radio" name="member" value="yes" /> Jā</br>
                <input type="radio" name="member" value="no" /> Nē</br>
            
        <input type="submit" value="Iesniegt" />
        </form>
           
        </div>
    </div>
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda 1</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>